.body{
    margin:0;
}
.card {
    text-align: center;
    background-color: coral;
}
.btn-primary {
    background-color:brown;
    border: 2px solid brown;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color:white;
    color: brown;
    border: 2px solid brown;
    border-radius: 10px;
}

.btn-primary:active {
    background-color:white;
    color: brown;
    border: 2px solid brown;
    border-radius: 10px;
}
.btn-primary:visited {
    background-color:white;
    color: brown;
    border: 2px solid brown;
    border-radius: 10px;
}
.card-title {
    font-size: 20px;
    font-weight: bold;
}
